*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 205, 205, 0.051);
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color:lightblue;
    cursor: pointer;
}
.logo span{
    color: lightcoral;
    transition: 0.5s;
}
.navbar a{
    color: lightcoral;
    position: relative;
    text-decoration: none;
    margin-right: 40px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.5s;
}

.logo:hover{
    color:lightcoral;
}
.logo span:hover{
    color:lightblue;
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: lightblue;
    border-radius: 5px;
    transition: transform .5s;
    transform: scaleX(0);
    
}
.navbar a:hover{
    color:lightblue;
}
.navbar a:hover::after{
    transform: scaleX(1);

    
}
.btn{
    position: relative;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 5px lightblue;
    transition: 0.5s;
}
.btn:hover{
    color:lightcoral;
    background-color: lightblue;
}
.btn::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
}