* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(221, 110, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    border: 8px solid white;
    position: relative;

    overflow: hidden;

}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    

}

.card-body {
    height: 100%;
    width: 100%;
    top: 0;
    right: -100%;
    background: rgba(174, 189, 187, 0.488);
    backdrop-filter: blur(5px);
    position: absolute;
    border-radius: 15px;
    color:  black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    transition: 2s;
}
.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}
.card-sub-title{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 300;
    
}
.card-info{
    font-size: 18px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 500;
}
.card-btn{
    color: blue;
    background-color: aliceblue;
    width: 120px;
    padding: 10px 20px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}
.card:hover .card-body{
    right: 0;
}